<div id="container-background" class="background-projects fixed top-0 w-full h-screen">
  <div class="stars z-1">

    <div id="container-img-back">      
      <div id="container-cards" class="w-full h-screen flex justify-center items-center gap-[10vw] opacity-0 transform translate-y-[-50px]">
        <div>
          <img id="card-meduxia" src="/img/MeduxiaCarta.svg" class="z-10 card object-contain w-[15vw] h-auto"
            alt="meduxia">
        </div>
        <div>
          <img id="card-portfolio" src="/img/Portfolio2024Carta.svg" class="z-10 card object-contain w-[15vw] h-auto"
            alt="portfolio">
        </div>
        <div>
          <img id="card-refri410" src="/img/Refri410Carta.svg" class="z-10 card object-contain w-[12vw] h-auto"
            alt="refri410">
        </div>
       
      </div>
    </div>







  </div>
</div>