#text-description{
    font-size: var(--font-size-paragraph4);
}

.background-aboutme{
  background: var(--gradient-aboutme);
}

.stars{
    background: url(/img/star.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 767.5px) {
    /* Estilos para pantallas de hasta 767.5px de ancho */
    #text-description {
        font-size: clamp(0.625rem, calc(0.5rem + 1vw), 0.75rem); /* 10px → 12px */
    }

    #text-aboutme{
        padding-inline: 0;
        padding-top: 5vw;
    }
    .background-aboutme{
       background: linear-gradient(180deg,#22408C 0.04%,#ff9222 102.56%); 
    }
    #brujita{
        width: clamp(6.5rem, 5vw, 10.5rem);
        height: clamp(6.5rem, 5vw, 10.5rem);
    }
}

@media screen and (max-height: 600px){
     #text-description {
        font-size:9px;
        white-space: wrap;
    }
    #container-description{
        transform: translate(0,15px) !important;
    }
}

@media screen and (max-width: 430px){
    /* Estilos para pantallas de hasta 430px de ancho */
    #text-description {
        font-size: 9px;
        white-space: wrap;
    }
    #container-description{
        transform: translate(0,10px) !important;
    }
    
    #brujita{
        width: clamp(3.5rem, 5vw, 6.5rem);
        height: clamp(3.5rem, 5vw, 6.5rem);
    }

}

@media screen and (min-width: 2000px) {
    /* Estilos para pantallas de 2000px o más de ancho */
    #text-description {
        font-size: var(--font-size-title5);
    }
}

