<div id="container-aboutme" class="background-aboutme fixed top-0 w-full h-screen">
    <div class="stars z-1">
        <div class="overflow-hidden flex">
            <img id="brujita" src="/img/brujita.svg" class="absolute object-contain w-[10vw] h-[10vw] z-0">
        </div>
        <section id="section-img-aboutme">
            <picture id="picture-aboutme" class=" h-screen w-full fixed flex justify-center items-start overflow-hidden">
                <img id="text-aboutme" src="/img/sobremiFiltros.webp" class="px-[5vh] w-full h-auto object-contain z-10 transform scale-[20]" />
            </picture>
        </section>


        <div id="container-text-description-aboutme" class="fixed w-full h-screen flex items-center justify-center px-8 md:px-20 py-16 z-20">
            <div id="container-description" class="text-center" [ngStyle]="{ transform: 'translateY(' + viewportY + '%)' }">
                <span id="text-description" class="font-init tracking-[4px] text-white ">
                    Soy desarrolladora front-end y diseñadora UX/UI en progreso, con una sólida base académica 
                    adquirida en la Universidad Nacional de Hurlingham, donde curso la Licenciatura en Informática. 
                    Haber participado en múltiples proyectos me ha permitido desarrollar una perspectiva global que abarca todo el ciclo de desarrollo.
                </span>
            </div>
        </div>




    </div>

</div>