<div id="container-aboutme" class="background-aboutme fixed top-0 w-full h-screen">
    <div class="fixed top-0 w-full h-screen overflow-hidden">
        <img id="brujita" src="/img/brujita.svg" class="absolute object-contain w-[100px] h-[100px]">
    </div>
    
    <section>
        <picture id="picture-aboutme" class="h-screen fixed flex justify-center items-end overflow-hidden">
            
            <img id="text-aboutme" src="/img/sobreMi.svg" class="w-auto h-auto object-contain z-10 transform scale-[20] translate-x-[50%] translate-y-[150%]" />
                
        </picture>
    </section>
</div>