<div id="container-aboutme" class="background-aboutme fixed top-0 w-full h-screen">
    <div class="stars z-1">
       <div class="overflow-hidden">
            <img id="brujita" src="/img/brujita.svg" class="absolute object-contain w-[100px] h-[100px] z-0">
        </div>
        <section id="section-img-aboutme">
            <picture id="picture-aboutme" class=" h-screen w-full fixed flex justify-center items-end overflow-hidden">
                <img id="text-aboutme" src="/img/sobremiFiltros.svg" class="px-[5vh] w-full h-auto object-contain z-10 transform scale-[20] translate-x-[50%] translate-y-[150%] " />
                <!--transform scale-[20] translate-x-[50%] translate-y-[150%]-->
            </picture>
        </section>

        <div>
            <h1>Soy guadalupe Arroyo desarrolladora front end y diseñadora UX/UI</h1>
        </div>

    </div>

</div>